<div align='center' class="col-sm-6 col-md-4 col-md-offset-4">
<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Title</h3>
    <%= form.text_field :title, id: :task_title %>
  </div>


    <div class="field">
      <h3>Text</h3>
      <div class="ckeditor-style">
        <%= form.cktext_area :text, id: :task_text %>
      </div>
    </div>

  <div class="field">
    <h3>Time</h3>
    <%= form.datetime_select  :time , id: :task_time %>
  </div>


  <div class="button-in-task-form">
    <br>
    <%= form.submit "Create task" , :class => 'btn btn-primary btn-lg'  %>

<% end %>

      <a href="/tasks" class="btn btn-primary btn-lg">Back</a>
  </div>
</div>
