<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<%= link_to 'New Task', new_task_path %>

<table border="1" cellpadding="5" width="1024">
  <thead>
    <tr align="center" >
      <th>Title</th>
      <th>Text</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td width="377"><%= task.title[0..30] %></td>
        <td width="377"><%= task.text[0..30]  %></td>
        <td width="200"><%= task.time %></td>
        <td width="70"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<h1>Archived Tasks</h1>
<table border="1" cellpadding="5" width="1024">
  <thead>
    <tr align="center">
      <th align="center" >Title</th>
      <th align="center" >Text</th>
      <th align="center" >Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archived_tasks.each do |task| %>
      <tr>
        <td width="377"><%= task.title[0..30] %></td>
        <td width="377"><%= task.text[0..30]  %></td>
        <td width="200"><%= task.time %></td>
        <td width="70"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
