<style media="screen">
 td{
    height: 36px;
  }
</style>
<p id="notice"><%= notice %></p>

<div align='center' >
  <h2 align='center'>Tasks</h2>

  <% if Task.where(user_id: current_user , sended: 0).count == 0 && Task.where(user_id: current_user , sended: 1).count == 0%>
    <h3>You haven't create tasks before. You can do it by button below</h3>
  <% end %>

  <%= link_to 'New Task', new_task_path , class: "btn btn-primary btn-lg", style: 'margin-bottom: 10px'%>

  <% if Task.where(user_id: current_user , sended: 0).count > 0%>
  <br>
  <table border="1" cellpadding="5" width="1044" style='table-layout:fixed'>
    <col width=377>
    <col width=377>
    <col width=220>
    <col width=70>
    <thead>
      <tr align="center" >
        <td >Title</td>
        <td>Text</td>
        <td>Time</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td> <%= raw task.title[0..30] %></td>
          <td  style="display:block; overflow:auto; overflow-y:hidden; height: 36px;"><%= raw task.text %></td>
          <td><%= task.time %></td>
          <td><%= link_to 'Destroy', task , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <br>


  <% if Task.where(user_id: current_user , sended: 1).count > 0%>
  <h2>Archived Tasks</h2>
  <table border="1" cellpadding="5" width="1044" style='table-layout:fixed'>
    <col width=377>
    <col width=377>
    <col width=220>
    <col width=70>
    <thead>
      <tr align="center">
        <td>Title</td>
        <td>Text</td>
        <td>Time</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @archived_tasks.each do |task| %>
        <tr>
          <td ><%= raw task.title[0..30] %></td>
          <td style="display:block; overflow:auto; overflow-y:hidden;"><%= raw task.text %></td>
          <td ><%= task.time %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
