<h4></h4>

<div class="statistics">
  <h3>News statistics:</h3>
  <div class="statistics-news">
    <table>
      <tr>
        <th>Category of news:</th>
        <th>Sent mail:</th>
        <th>Current subscriptions to news:</th>
      </tr>
      <tr>
        <td>Business US</td>
        <td><%= @us_business.sended_times %></td>
        <td><%= @us_business.current_subs %></td>
      </tr>
      <tr>
        <td>Entertainment US</td>
        <td><%= @us_entertainment.sended_times %></td>
        <td><%= @us_entertainment.current_subs %></td>
      </tr>
      <tr>
        <td>Health US</td>
        <td><%= @us_health.sended_times %></td>
        <td><%= @us_health.current_subs %></td>
      </tr>
      <tr>
        <td>Science US</td>
        <td><%= @us_science.sended_times %></td>
        <td><%= @us_science.current_subs %></td>
      </tr>
      <tr>
        <td>Sport US</td>
        <td><%= @us_sports.sended_times %></td>
        <td><%= @us_sports.current_subs %></td>
      </tr>
      <tr>
        <td>Technology US</td>
        <td><%= @us_technology.sended_times %></td>
        <td><%= @us_technology.current_subs %></td>
      </tr>
      <tr>
        <td>Business UA</td>
        <td><%= @ua_business.sended_times %></td>
        <td><%= @ua_business.current_subs %></td>
      </tr>
      <tr>
        <td>Entertainment UA</td>
        <td><%= @ua_entertainment.sended_times %></td>
        <td><%= @ua_entertainment.current_subs %></td>
      </tr>
      <tr>
        <td>Health UA</td>
        <td><%= @ua_health.sended_times %></td>
        <td><%= @ua_health.current_subs %></td>
      </tr>
      <tr>
        <td>Science UA</td>
        <td><%= @ua_science.sended_times %></td>
        <td><%= @ua_science.current_subs %></td>
      </tr>
      <tr>
        <td>Sport UA</td>
        <td><%= @ua_sports.sended_times %></td>
        <td><%= @ua_sports.current_subs %></td>
      </tr>
      <tr>
        <td>Technology UA</td>
        <td><%= @ua_technology.sended_times %></td>
        <td><%= @ua_technology.current_subs %></td>
      </tr>
    </table>

    <div class="">
      <p>Quantity of users which registrated on our application: <%= @users %></p>
    </div>


  </div>
</div>
