<h3>Ads</h3>

<%= @weekly_users  %>
<%= @daily_users %>

<%= @us_business %>
<%= @us_entertainment %>
<%= @us_health %>
<%= @us_science %>
<%= @us_sports %>
<%= @us_technology %>

<%= @ua_business %>
<%= @ua_entertainment %>
<%= @ua_health %>
<%= @ua_science %>
<%= @ua_sports %>
<%= @ua_technology %>
