<h4></h4>

<div class="statistics">
  <h3>News statistics:</h3>
  <div class="statistics-news">
    <table>
      <tr>
        <th>Category of news:</th>
        <th>Sent mail:</th>
        <th>Current subscriptions to news:</th>
      </tr>
      <tr>
        <td>Business US</td>
        <td><%= @us_business %></td>
      </tr>
      <tr>
        <td>Entertainment US</td>
        <td><%= @us_entertainment %></td>
      </tr>
      <tr>
        <td>Health US</td>
        <td><%= @us_health %></td>
      </tr>
      <tr>
        <td>Science US</td>
        <td><%= @us_science %></td>
      </tr>
      <tr>
        <td>Sport US</td>
        <td><%= @us_sports %></td>
      </tr>
      <tr>
        <td>Technology US</td>
        <td><%= @us_technology %></td>
      </tr>
      <tr>
        <td>Business UA</td>
        <td><%= @ua_business %></td>
      </tr>
      <tr>
        <td>Entertainment UA</td>
        <td><%= @ua_entertainment %></td>
      </tr>
      <tr>
        <td>Health UA</td>
        <td><%= @ua_health %></td>
      </tr>
      <tr>
        <td>Science UA</td>
        <td><%= @ua_science %></td>
      </tr>
      <tr>
        <td>Sport UA</td>
        <td><%= @ua_sports %></td>
      </tr>
      <tr>
        <td>Technology UA</td>
        <td><%= @ua_technology %></td>
      </tr>
    </table>

    <div class="">
      <p>Quantity of users which subscribed to top weekly news: <%= @weekly_users %></p>

      <p>Quantity of users which subscribed to top daily news: <%= @daily_users %></p>
    </div>


  </div>
</div>
