<div class="about-page-main-content">
  <h3>News Dispatch:</h3>
  <p>
    If you subscribed to our Daily news, every day you will get top 3 news from category which you choosed on
    <a href="/news_chooser">News page</a>, also you can choose Weekly news and in this case you will get top news in all week in sunday. We also have feature
    <a href="/taged_news/new">Taged news</a>
    with which you can choose news more flexible.
  </p>
  <br>
  <h3>Tasks Dispatch:</h3>
  <p>
    Task tool will help you forget nothing in the future, in
    <a href="/tasks">Task page</a>, simply create any task or sutask. Integrate with your email, create a task and choose time which you want receive in mail.
  </p>
</div>

<!-- Slideshow container -->
<div class="slideshow-container">
  <h3 class="text-center">For example you will get dispatch:</h3>
  <br>
  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
    <%= image_tag("ScrinDaily.png", :style => "width:100%") %>
  </div>

  <div class="mySlides">
    <%= image_tag("ScrinWeekly.png", :style => "width:100%") %>
  </div>

  <div class="mySlides">
    <%= image_tag("ScreenshotTagNews.png", :style => "width:100%") %>
  </div>

  <div class="mySlides">
    <%= image_tag("ScreenshotTask.png", :style => "width:100%") %>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
</div>

<div class="link-to-statistic">
  <%= link_to 'Our statistics page', '/statistics' %>
</div>
