  <% if user_signed_in? %>

    <p id="notice" align="center"><%= notice %></p>
    <h3 align="center"><%= @mail %></h3>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div align="center">
          <%= render 'form', notification: @notification %>
        </div>
      </div>
    </div>

    <% if Notification.where(user_id: current_user).count > 0 %>

      <div class="center">
        <a href="/news_chooser">
          <div class="col-md-6">
            <a href="/news_chooser">
              <div class="about">
                <h3>News:</h3>
                <h3><%= @choosed_news %></h3>
              </div>
            </div>
          </a>
          <a href="/tasks">
            <div class="col-md-6">
              <div class="about">
                <h3>Tasks:</h3>
                <% if @nearest_tasks.is_a? String %>
                  <h3><%= @nearest_tasks %></h3>
                <% else %>
                <h3>Your upcoming tasks:</h3>
                <table>
                  <% @nearest_tasks.each do |task|%>
                    <tr>
                      <td width="377"><%= raw task.title[0..10] %></td>
                      <td width="377"><%= raw task.text[0..10]  %></td>
                    </tr>


                  <% end %>
                </table>
                <% end %>
              </div>
            </div>
          </a>
        </div>

      <% end %>

      <% else %>
      <!-- home wrapper -->
      <div class="home-wrapper">
        <div class="container">
          <div class="row">
            <!-- home content -->
            <div class="col-md-10 col-md-offset-1">
              <div class="home-content">
                <h1 class="white-text">Dispatch Application</h1>
                <p class="white-text">
                  A web application to deliver news and help you nothing to forget :)
                </p>
                <a href="/users/sign_up"
                  <button class="white-btn">Get Started!</button>
                </a>
                <a href="/about">
                  <button class="main-btn">Learn more</button>
                </a>
              </div>
            </div>
            <!-- /home content -->
          </div>
        </div>
      </div>
      <!-- /home wrapper -->
    <% end %>
