<% if user_signed_in? %>

  <p id="notice" align="center"><%= notice %></p>
  <h3 align="center"><%= @mail %></h3>

  <div align="center">
    <%= render 'form', notification: @notification %>
  </div>


  <% if Notification.where(user_id: current_user).count > 0 %>

  <div align="center" class="col-md-4">
    <a href="/news_chooser">
    <div class="about">
      <h3>News:</h3>
      <h3><%= @choosed_news %></h3>
    </div>
    </a>
    <a href="/tasks">
    <div class="about">
      <h3>**Tasks in development**</h3>
    </div>
    </a>
  </div>

  <% end %>




  <% else %>
  <%= link_to "sing in" , new_user_session_path %>
<% end %>
