<p id="notice"><%= notice %></p>
<h1>Email settings</h1>
<h3><%= @mail %></h3>

<div>
  <%= render 'form', notification: @notification %>
</div>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Account', edit_user_registration_path %></li>
    <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
  </ul>
<% else %>
  <ul>
    <li><%=link_to 'Sign in' , new_user_session_path %></li>
    <li><%=link_to 'Sign up' , new_user_registration_path %></li>
  </ul>
<% end %>
<br>

<%= link_to('temporary link to news chooser' , root_url) %>
