<p id="notice"><%= notice %></p>
<h1>Notifications</h1>
<div>
  <%= render 'form', notification: @notification %>
</div>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Account', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
  </ul>
<% else %>
  <ul>
    <li><%=link_to 'Sign in' , new_user_session_path %></li>
    <li><%=link_to 'Sign up' , new_user_registration_path %></li>
  </ul>
<% end %>
<br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label" for="defaultCheck1">
    First News
  </label>

</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label" for="defaultCheck1">
    Second News
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label" for="defaultCheck1">
    Third News
  </label>
</div>
