<h3><%= @z['title'] %></h3>
<h4><%= @z["author"] %></h3>
<h4><%= @z["description"] %></h3>
<h4><%= @z["publishedAt"] %></h3>
<a href="<%= @z["url"] %>">
<img src="<%= @z['urlToImage'] %>" alt="Mountain View" height="350" width="640">
