
<h3><%= @mail %></h3>
<%= link_to('Change email here' , notifications_path) %>

<% if Notification.where(user_id: current_user).count > 0 %>

  <% if @subed.send_daily == 1 %>
    <%= button_to "Daily news", {action: "send_daily"} , class: "buttongreen" %><br>
  <% else %>
    <%= button_to "Daily news", {action: "send_daily"} , class: "buttonred" %><br>
  <% end %>

  <% if @subed.send_weekly == 1 %>
    <%= button_to "Weekly news", {action: "send_weekly"} , class: "buttongreen" %><br>
  <% else %>
    <%= button_to "Weekly news", {action: "send_weekly"} , class: "buttonred" %><br>
  <% end %>

  <% @news_labels.each do |i|  %>
    <%  if @news_types[@index] == '0' %>
      <%= button_to "#{i}", {action: "#{i}"} , class: "buttonred" %><br>
    <% else %>
      <%= button_to "#{i}", {action: "#{i}"} , class: "buttongreen" %><br>
    <% end %>
    <% @index += 1 %>
  <% end %>
<% end %>
