<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <h2 class="text-center">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <br>
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %><br>

      <h3 class="text-center">or login whith</h3>

      <div class="text-center">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <a href="/users/auth/google_oauth2" class="fa fa-google-plus"></a>
        <a href="/users/auth/twitter" class="fa fa-twitter"></a>
        <a href="/users/auth/github" class="fa fa-github"></a>
      </div>
    </div>
  </div>
</div>
